.shop {
   padding: 100px 0 20px 0;
}
.products {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 30px;
}

@media screen and (max-width: 1425px) {
   .products {
      grid-template-columns: repeat(2, 1fr);
   }
}
@media screen and (max-width: 910px) {
   .products {
      grid-template-columns: 1fr;
   }
}