.navbar {
   border-bottom: 1px solid black;
   padding: 15px 20px;
   height: 80px;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 50;
}

.links {
   display: flex;
   align-items: center;
   gap: 20px;
}

.links a {
   color: black;
   font-size: 24px;
   text-transform: uppercase;
}
.total-products {
   margin-left: 20px;
   background-color: blue;
   color: white;
   font-size: 16px;
   padding: 5px;
   border-radius: 50%;
}
.navbar-wrapper {
   max-width: 1200px;
   margin: 0 auto;
   padding: 0 15px;

   display: flex;
   align-items: center;
   justify-content: space-between;
}

.navbar-title {
   color: rgb(0, 68, 255);
}
.navbar-title span {
   color: yellow;
}

@media screen and (max-width: 460px) {
   .navbar-title span {
      display: none;
   }
}