* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: 'Nunito Sans';
   height: 100%;
}

a {
   text-decoration: none;
}

.wrapper {
   max-width: 1350px;
   margin: 0 auto;
   padding: 0 15px;
}